@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&display=swap');

body{
background-color: hsl(0, 0%, 91%);
}

form{
    margin-left: 300px;
    margin-right: 300px;
    background-color: #93E5AB;
    border-radius: 50px;
    margin-bottom: 40px;
}

#reservaciones{
    margin-left: 200px;
    font-family: 'Josefin Sans', sans-serif;
}

h1{
    margin-left: 450px;
    font-family: 'Phudu';
    margin-top: 40px; 

}
input{
    margin: 10px;
    border-radius: 6px;
}

label{
    display: inline-block;
    width: 60px;
    margin: 18px;
}

.fecha{
    margin: 15px;
    position: absolute;
    margin-left: 100px;
    margin-top: -40px;
}

#reservaciones_Habitacion{
    margin-left: 15px;
}

.btn{
    margin-left: 350px;
    margin-bottom: 15px;
    background-color: beige;
    border-color: #93E5AB;
    border-radius: 10px;
}

a{
    font-family: ''Phudu'';
    color: black;
    margin-left: 640px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: #93E5AB;
    text-decoration: none;  
}